<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<div class="header">
  <span>Easy todo app</span><span class="remove" (click)="droptodos()">
    <mat-icon>
      delete_forever
    </mat-icon>
  </span>
</div>
<div class="list">
  <div class="todoitem" *ngFor="let todo of todos">
    <div class="todo-item-left">
      
      <label class="todotitle">
        <input [(ngModel)]="todo.done" type="checkbox" class="todocheckbox">
        {{todo.title}}
      </label>
    </div>


  </div>



  <span class="addico" (click)="addNew()"><mat-icon>add</mat-icon></span>
  <input [(ngModel)]="newtodoname" placeholder="newtodoname"
         type="text"
         class="todoinput">


  <div *ngIf="!isHidden">
    Sorry, to short todo... 
  </div>


</div>
