

.todocheckbox {
display:inline;


}


.todotitle {
  display: inline-block;
  font-family: "Oxygen", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.todoitem {
  margin:8px;
}

.todoinput {
  margin: 8px;
  border-radius: 2px;
  border: solid 1px lightgray;
  padding: 6px;
  font-family: "Oxygen", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.list {
  margin-left:12px;
}


.addico {
  margin-left: 13px;
  vertical-align: middle;
  cursor: pointer;
}

.header {
  background: #f5f5f5;
  padding: 12px;
  margin: 12px;
  border-radius: 4px;
  font-family: "Oxygen", Arial, Helvetica, sans-serif;
  font-size: 14px;
}


.remove {
  float: right;
  margin-right: 12px;
  cursor: pointer;
}
